<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MYSQL_DSN" value="mysql:host=127.0.0.1;port=13306;dbname=fastphp_test"/>
        <env name="MYSQL_USER" value="root"/>
        <env name="MYSQL_PASSWORD" value="root"/>
        <env name="PGSQL_DSN" value="pgsql:host=127.0.0.1;port=15432;dbname=fastphp_test"/>
        <env name="PGSQL_USER" value="postgres"/>
        <env name="PGSQL_PASSWORD" value="postgres"/>
    </php>
</phpunit>
